main {
  //margin-top: 6rem;
}
.page-container {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  .main-container {
    width: 100%;
  }
  aside {
    background: transparent linear-gradient(180deg, #4DFFED 0%, #032E77 100%) 0% 0% no-repeat padding-box;
    width: 100%;
    height: 100%;
    position: relative;

    .login-img {
      position: absolute;
    }
    .nuage-1 {
      height: 278px;
      left: -150px;
      top: -80px;
    }
    .nuage-2 {
      height: 176px;
      right: -100px;
      top: 10%;
    }
    .logo {
      height: 215px;
      top: 10%;
      margin: 0;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0%);
    }
    .bottom-img {
      bottom: 0;
      height: 315px;
      width: 100%;
    }
  }
}


