<div class="page-container" fxLayout="row">
  <main fxFlex="43">
    <div class="main-container">
      <router-outlet></router-outlet>
    </div>
  </main>
  <aside fxFlex>
    <img class="login-img nuage-1" src="../../../assets/img/imolun2630gu2i8gpoq9vtk1q6-7f68606e9e2bb29292b0b151cca02e88-1.png" alt="">
    <img class="login-img nuage-2" src="../../../assets/img/imolun2630gu2i8gpoq9vtk1q6-7f68606e9e2bb29292b0b151cca02e88.png" alt="">
    <img class="login-img logo" src="../../../assets/img/Group 761.svg" alt="">
    <img class="login-img bottom-img" src="../../../assets/img/Group 762.png" alt="">
  </aside>
</div>

