@import '../login/login.component.scss';

.register-container {
  margin: 0 15%;
  padding-bottom: 5rem;

  .action-buttons {
    margin-top: 44px;
    .btn-invert {
      background: #fff;
      color: #0E2447;
    }
  }


}
