<div class="header" fxLayout="row" fxLayoutAlign="start center">
  <div fxFlex="70" fxLayout="row" fxLayoutAlign="space-between center">
    <div>
      <h2 class="accent-color">Header Title</h2>
      <h4>Header Subtitle</h4>
    </div>
    <div>
      <mat-icon matBadge="15" matBadgeColor="warn" color="accent">notifications</mat-icon>
      <small>Notifications</small>
    </div>
  </div>
  <div fxFlex fxLayout="row" fxLayoutAlign="end center">
    <div>
      <h5 class="primary-color">User name</h5>
      <h6 class="accent-color">User Role</h6>
    </div>
    <div>
      image
    </div>
  </div>
</div>
