a {
  text-decoration: none;
  color: white;
}

.label {
  display: inline-block;
  line-height: 30px;
  margin: 0;
  width: 85%;
}

.header {
  height: 60px;
  background: #fff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 30px #00000029;
  border-radius: 0px 0px 80px 0px;
}
