<div class="header" fxLayout="row" fxLayoutAlign="start center">
  <div class="header__left-bar" fxFlex="80" fxLayout="row" fxLayoutAlign="start center">
    <div class="header__back-btn" fxFlex="5">
      <button mat-icon-button>
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>
    <div class="header__title-container" fxFlex="70">
      <div class="icon-container icon-active">
        <span class="icon icon-folders-1"></span>
      </div>
      <div>
        <h2 class="header__title">CATÉGORIES DES DEMANDES</h2>
        <h4 class="header__subtitle"><small>Header Subtitle</small></h4>
      </div>
    </div>
    <div class="header__notifications" fxFlex="20">
      <mat-icon matBadge="5" matBadgeColor="warn" >notifications</mat-icon>
      <span>Notifications</span>
      <button mat-icon-button>
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
    </div>
  </div>
  <div class="header__user-info" fxFlex fxLayout="row" fxLayoutAlign="end center">
    <div >
      <h5 class="header__user-info__username">Kamal EL FATIHI</h5>
      <h6 class="header__user-info__role">Administrateur</h6>
    </div>
    <div fxFlexOffset="5">
      <img class="user-photo" src="../../../assets/img/anonymous-user.png" alt="User photo">
    </div>
    <button mat-icon-button>
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
  </div>
</div>
