<div fxLayout="row" fxLayoutAlign="space-between center">
  <div class="search-controller" fxFlex="95" fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex>
      <input class="search-controller__input" placeholder="Nom d'utilisateur">
    </div>
    <div fxFlex>
      <input class="search-controller__input" placeholder="Mail">
    </div>
    <div fxFlex>
      <input class="search-controller__input" placeholder="Tél">
    </div>
    <div fxFlex>
      <input class="search-controller__input" placeholder="Créateur">
    </div>
    <div fxFlex>
      <input class="search-controller__input" placeholder="Date création">
    </div>
  </div>
  <div>
    <button class="btn">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
