<mat-stepper *ngIf="forms.length > 0" [linear]="isLinear" #stepper>
  <mat-step *ngFor="let form of forms" [stepControl]="form?.id">
    <ng-template matStepLabel>{{ form?.title }}</ng-template>
    <app-json-form-v2
      *ngIf="!!form"
      [loading]="loading"
      [inputs]="form.inputs"
      [form]="form"
      (onSubmit)="onSubmit($event)"
    ></app-json-form-v2>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
</mat-stepper>
