<ejs-diagram #diagram id="diagram" margin="20px 0 0 0" width="100%" height="580px"

  [snapSettings]="snapSettings"
  [getNodeDefaults]="getNodeDefaults"
  (created)="created($event)"
  (mouseEnter)="mouseEnter($event)"
  (mouseLeave)="mouseLeave($event)"
  (selectionChange)="selectionChange($event)"
  (click)="click($event)">
  <ng-template #nodeTemplate let-data >
    <app-diagram-test-component *ngIf="data.id == 'actionNode'" [data]="data">
    </app-diagram-test-component>
  </ng-template>
  <e-nodes>
    <e-node id='start'
      [offsetX]=300
      [offsetY]=20
      [shape]='startShape'
      [style]="startStyle"
      >
      <e-node-annotations>
        <e-node-annotation [style]="{ color: 'white' }"
          [contentEditable]="false"
          content="Démarrer">
        </e-node-annotation>
      </e-node-annotations>
    </e-node>
    <e-node id='start2'
      [offsetX]=500
      [offsetY]=20
      [shape]='startShape'
      [style]="startStyle">
      <e-node-annotations>
        <e-node-annotation [style]="{ color: 'white' }"
          [contentEditable]="false"
          content="Démarrer">
        </e-node-annotation>
      </e-node-annotations>
    </e-node>
    <e-node id='another'
      [offsetX]=300
      [offsetY]=200
      [shape]="processShape">
      <e-node-annotations>
        <e-node-annotation content="Another node">
        </e-node-annotation>
      </e-node-annotations>
    </e-node>
    <e-node id='another2'
      [offsetX]=300
      [offsetY]=400
      [shape]="processShape">
      <e-node-annotations>
        <e-node-annotation content="Another node 2">
        </e-node-annotation>
      </e-node-annotations>
    </e-node>
    <e-node id='decision1'
      [offsetX]=300
      [offsetY]=600
      [shape]="decisionShape">
      <e-node-annotations>
        <e-node-annotation content="Another node 3">
        </e-node-annotation>
      </e-node-annotations>
    </e-node>
    <e-node id='process3'
      [offsetX]=100
      [offsetY]=800
      [shape]="processShape">
      <e-node-annotations>
        <e-node-annotation content="Another node 4">
        </e-node-annotation>
      </e-node-annotations>
    </e-node>
    <e-node id='end'
      [offsetX]=100
      [offsetY]=1000
      [shape]="startShape"
      [style]="startStyle">
      <e-node-annotations>
        <e-node-annotation  [style]="{ color: 'white' }"
          [contentEditable]="false"
          content="End">
        </e-node-annotation>
      </e-node-annotations>
    </e-node>
    <!-- <e-node id='Node' [offsetX]=100 [offsetY]=80 [shape]='inputShape'></e-node> -->
  </e-nodes>

</ejs-diagram>

