<div class="dashboard-items-container">

  <div class="registration-progress">
    <div fxLayout="row" fxLayoutAlign="space-between none">
      <div fxFlex class="step active-step">EPI Demandeur</div>
      <div fxFlex class="step">Documents requis pour la demande</div>
      <div fxFlex class="step">Paiement des droits fixes d'enregistrement</div>
    </div>
    <div class="bar" fxLayout="row" fxLayoutAlign="center center">
      <div class="circle"></div>
      <div fxFlex="22" class="rectangle"></div>
      <div fxFlex="22" class="rectangle inactive"></div>
      <div class="circle inactive"></div>
      <div fxFlex="22" class="rectangle inactive"></div>
      <div fxFlex="22" class="rectangle inactive"></div>
      <div class="circle inactive"></div>
    </div>
  </div>

  <ng-template #form1></ng-template>
  <ng-template #form2></ng-template>
  <ng-template #form3></ng-template>


</div>
