@import '../scss/variables';

mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100%;
  overflow-x: hidden;
  background-color: $bg-color;
}

.main-side-nav {
  z-index: 2;
  width: 242px;
  box-shadow: 0px 3px 30px #00000029;
}
