<div class="user" fxLayout="row">
  <div class="user__infos" fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="user__name-email" fxFlex>
      <img class="user__photo" src="../../../../assets/img/anonymous-user.png" alt="">
      <div>
        <div><span class="user__name-email__name">Mourad BALADI</span></div>
        <div><span>Mail : n.abod@sothema.ma</span></div>
      </div>
    </div>
    <span class="separator"></span>
    <div class="user__phone" fxFlex="15">
      <mat-icon>phone</mat-icon>
      <span>Tél : 06 60 11 22 33</span>
    </div>
    <span class="separator"></span>
    <div class="user__group" fxFlex>
      <mat-icon>people</mat-icon>
      <span>Nom du groupe</span>
    </div>
    <span class="separator"></span>
    <div class="user__establishment" fxFlex>
      <mat-icon>business</mat-icon>
      <span>Nom de l'établissement</span>
    </div>
    <span class="separator"></span>
    <div class="user__status" fxFlex="12" fxLayout="row" fxLayoutAlign="center center">
      <div>
        <select [(ngModel)]="status" [ngClass]="status">
          <option class="actif" value="actif">Actif</option>
          <option class="inactif" value="inactif">Inactif</option>
        </select>
      </div>
    </div>

    <div class="item-menu">
      <mat-icon
        class="more-btn"
        fxFlex="1.5"
        (click)="show = !show">more_vert</mat-icon>
      <div class="item-menu__content  {{ show ? 'item-menu__show' : '' }}">
        <a>
          <mat-icon>edit</mat-icon>
          <span>Modifier</span>
        </a>
        <a >
          <mat-icon>info_outline</mat-icon>
          <span>Details</span>
        </a>
      </div>
    </div>

  </div>
</div>
<mat-divider *ngIf="!last"></mat-divider>
