@import '~/src/scss/variables';
@import '~/src/scss/mixins';

.user {
  font: $unnamed-font-style-normal normal 500 .6875rem $unnamed-font-family-poppins;
  color: #9F9F9F;
  // height: 3.25rem;
  padding: 15px;

  &__infos {
    > div {
      @include text-with-icon;
      padding-left: .75rem;
    }
  }

  &__name-email {
    font: $unnamed-font-style-normal normal $unnamed-font-weight-600 inherit Montserrat;
    letter-spacing: $unnamed-character-spacing--0-08;

    &__name {
      color: $unnamed-color-1b478e;
    }

  }

  &__photo {
    height: 38px;
    width: 38px;
    border-radius: 50px;
    margin-right: 20px;
  }
  mat-icon {
    margin-right: 10px;
    font-size: 20px;
  }
  .more-btn { // context menu button
    margin: 0;
    cursor: pointer;
    color: #a5bac7;
  }

  .separator { //overrite separator styles
    height: 2.3125rem;
    border-color: #dcd7d7;
  }
}

.actif {
  color: green;
}
.inactif {
  color: red;
}

.item-menu {
  position: relative;
  display: inline-block;
  &__content {
    display: none;
    position: absolute;
    top: 90%;
    right: 50%;
    min-width: 160px;
    overflow: auto;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 11px #9E9E9E61;
    border: 1px solid #BDF3F8;
    border-radius: 20px;
    z-index: 1;

    > a {
      @include text-with-icon;
      padding: 10px;
      text-align: center;
      display: block;
      cursor: pointer;

      &:hover {
        background-color: #9F9F9F;
        color: #fff;
      }

      mat-icon {
        position: relative;
        top: 5px;
        color: #A1C3D8;
      }
    }
  }

  &__show {display: block;}
}
