<div class="search-controller" fxLayout="row" fxLayoutAlign="none center">
  <div fxFlex="8">
    <input class="search-controller__input" fxFlexOffset="5" placeholder="ID">
  </div>
  <div fxFlex="16">
    <input class="search-controller__input" fxFlexOffset="5" placeholder="Catégorie">
  </div>
  <div fxFlex="16">
    <input class="search-controller__input" fxFlexOffset="5" placeholder="Famille">
  </div>
  <div fxFlex="18">
    <input class="search-controller__input" fxFlexOffset="5" placeholder="Nbr de dossier">
  </div>
  <div fxFlex="14">
    <input class="search-controller__input" fxFlexOffset="5" placeholder="Créateur">
  </div>
  <div fxFlex="14">
    <input class="search-controller__input" fxFlexOffset="5" placeholder="Date création">
  </div>
  <div
    class="search-controller__layout-view-toggle"
    fxFlex fxLayout="row" fxLayoutAlign="space-around center">
    <div class="layout-view layout-view__list layout-view--disabled">
      <mat-icon>list</mat-icon>Liste
    </div>
    <div class="layout-view layout-view__grid">
      <mat-icon>view_comfy_sharp</mat-icon>Grille
    </div>
  </div>
</div>
