@import '../../../../scss/variables';


.control {
  padding: 8px;
  background: #FFFFFF;
  box-shadow: 0px 3px 10px #00000021;
  border-radius: 25px;

  &__input {
    border-radius: 25px;
    padding: 10px;
    width: 85%;
    height: 15px;
    background: $unnamed-color-ffffff 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #E2F1F2;

    &::placeholder {
      color: $unnamed-color-888888;
      font-size: .8em;
    }
    &:focus {
      outline: none;
      border-color: $unnamed-color-00a7a5;
    }

  }
  &__layout-view-toggle {

    mat-button-toggle-group, mat-button-toggle {
      font-size: .7rem;
      font: $unnamed-font-style-normal normal medium .6rem Montserrat;
      text-align: left;
      letter-spacing: -0.09px;
      border: none;
      padding: 0;
      color: $unnamed-color-1b478e;
      button[aria-pressed="true"] {
        background-color: #FFFFFF;
      }
    }
  }
}

