<div class="registration-progress">
  <div fxLayout="row" fxLayoutAlign="space-between none">
    <div class="active-step">Generalités</div>
    <div class="active-step">Activités</div>
  </div>
  <div class="bar" fxLayout="row" fxLayoutAlign="center center">
    <div class="circle"></div>
    <div fxFlex="47" class="rectangle"></div>
    <div fxFlex="47" class="rectangle inactive"></div>
    <div class="circle inactive"></div>
  </div>
</div>

<div class="register-container">
  <h2 class="title">RENSEIGNEMENTS SUR VOTRE ENTREPRISE</h2>

  <div class="form-container">
    <form>
      <div class="user-photo control control-file">
        <input id="image" type="file" class="file">
        <label for="image">
          <!-- <mat-icon>camera_alt</mat-icon> -->
          <img src="../../../../../assets/img/img-200x200.png" alt="">
        </label>
        <div class="user-photo__message" fxLayout="row" fxLayoutAlign="center center">
          <span>Sélectionner votre logo</span>
        </div>
      </div>
      <div class="control control-input">
        <input type="text" placeholder="Raison sociale">
      </div>
      <div class="control control-input">
        <input type="text" placeholder="Forme juridique">
      </div>
      <div class="control control-input">
        <input type="text" placeholder="Adresse géographique">
      </div>
      <div class="control control-input">
        <input type="text" placeholder="Adresse postale">
      </div>
      <div class="inner-control" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="control control-input">
          <input type="text" placeholder="N° de Téléphone">
        </div>
        <div class="control control-input">
          <input type="text" placeholder="Fax du siège social">
        </div>
      </div>
      <div class="control control-input">
        <input type="text" placeholder="Adresse électronique de responsable 1">
      </div>
      <div class="control control-input">
        <input type="text" placeholder="Adresse électronique de responsable 2">
      </div>
      <div class="control control-input">
        <input type="text" placeholder="Numéro de téléphone en cas d’urgence 1">
      </div>
      <div class="control control-input">
        <input type="text" placeholder="Numéro de téléphone en cas d’urgence 2">
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center" class="action-buttons">
        <div class="control control-border-grey">
          <button class="btn btn-invert" [routerLink]="['/account', 'registration', 'register']">Retour</button>
        </div>
        <div class="control">
          <button class="btn" type="button" [routerLink]="['/account', 'register-informations', 'activities']">Suivant</button>
        </div>
      </div>
    </form>
  </div>
</div>
