<div class="group" fxLayout="row">
  <div class="group__infos" fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="group__name" fxFlex>
      <mat-icon>people</mat-icon>
      <div><span>GROUP DMP VALIDATION DE PAIEMENTS (7)</span></div>
    </div>
    <span class="separator"></span>
    <div class="group__status" fxFlex>
      <mat-icon>info</mat-icon>
      <span>Statut : Activé</span>
    </div>
    <span class="separator"></span>
    <div class="group__creator" fxFlex>
      <mat-icon>person</mat-icon>
      <span>Crée par : Achraf Mouadi</span>
    </div>
    <span class="separator"></span>
    <div class="group__creation-date" fxFlex>
      <mat-icon>date_range</mat-icon>
      <span>Crée le: 14/10/2021</span>
    </div>

    <mat-icon class="more-btn" fxFlex="1.5">more_vert</mat-icon>

  </div>
</div>
<mat-divider *ngIf="!last"></mat-divider>

