<div>
  <h2 class="title">Se connecter en tant que</h2>

  <div class="form-container">
    <form>
      <div class="control">
        <select>
          <option value="Administrateur">Administrateur</option>
          <option value="DMP">DMP</option>
          <option value="Client">Client</option>
        </select>
      </div>
      <hr>
      <div class="control control-input">

        <input type="text" placeholder="Login">
      </div>
      <div class="control control-input">

        <input type="text" placeholder="Mot de passe">
      </div>
      <div class="control">
        <button type="button">Se connecter</button>
      </div>
    </form>
  </div>

  <div class="register-forgotten-password">
    <a>S'inscrire</a>
    <a>Mot de passe oublié</a>
  </div>
</div>

