/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import './theme.scss';
@import './scss/variables';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.primary-color {
  color: mat-color($my-primary) !important;
}
.accent-color {
  color: mat-color($my-accent) !important;
}

.navigation-items {
  list-style: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.icon {
  display: inline-block;
  height: 30px;
  margin: 0 8px;
  text-align: center;
  vertical-align: middle;
  width: 20%;
}
