.btn {
  border-radius: 29px;
  padding: 0 18px;
  cursor: pointer;
  background: transparent linear-gradient(269deg, $unnamed-color-1b478e 0%, #0E2447 100%) 0% 0% no-repeat padding-box;
  color: white;
  font: $unnamed-font-style-normal normal $unnamed-font-weight-600 .625rem Montserrat;
  text-align: center;
  letter-spacing: 2.18px;
  color: #FFFFFF;
  text-transform: uppercase;
}
