@import '../../../../../scss/variables';
@import '../../../../../scss/mixins';

.login-container {
  width: 14.75rem;
  margin: 0 auto;
}

.title {
  font: $unnamed-font-style-normal normal $unnamed-font-weight-600 .8rem Montserrat;
  color: $unnamed-color-1b478e;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.register-forgotten-password {
  text-align: center;
  margin-top: 5rem;
  a {
    display: block;
    height: 100%;
    &:first-child {
      font: $unnamed-font-style-normal normal $unnamed-font-weight-600 .8rem Montserrat;
      color: $unnamed-color-1b478e;
      text-transform: uppercase;
      text-decoration: none;
      margin-bottom: 20px;
    }
    &:nth-child(2) {
      font: $unnamed-font-style-normal normal 500 .6rem Montserrat;
      text-decoration: underline;
      letter-spacing: 0px;
      color: #9A9A9A;
    }
  }
}
