<div class="login-container">
  <h2 class="title">Se connecter en tant que</h2>

  <div class="form-container">
    <!-- <form (ngSubmit)="loginUser()">
      <div class="control">
        <select>
          <option value="Administrateur">Administrateur</option>
          <option value="DMP">DMP</option>
          <option selected value="Client">Client</option>
        </select>
      </div>
      <hr noshade />
      <div class="control control-input">
        <mat-icon>person</mat-icon>
        <input
          name="email"
          [(ngModel)]="email"
          type="text"
          placeholder="Login"
        />
      </div>
      <div class="control control-input">
        <mat-icon>key</mat-icon>
        <input
          name="password"
          [(ngModel)]="password"
          type="password"
          placeholder="Mot de passe"
        />
      </div>
      <div class="control">
        <button class="btn" type="submit">Se connecter</button>
      </div>
    </form> -->
    <div>
      <app-json-form-v2
        *ngIf="!!form"
        [inputs]="inputs"
        [form]="form"
        [loading]="loading"
        (onSubmit)="onSubmit($event)"
      ></app-json-form-v2>
    </div>
  </div>

  <div class="register-forgotten-password">
    <a [routerLink]="['/account', 'registration', 'register']">S'inscrire</a>
    <a>Mot de passe oublié</a>
  </div>
</div>
