<div class="modal-container">
  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width" appearance="fill">
      <mat-label>First name</mat-label>
      <input matInput>
    </mat-form-field></td>
    <td><mat-form-field appearance="fill">
      <mat-label>Toppings</mat-label>
      <mat-select >
        <mat-select-trigger>

        </mat-select-trigger>
        <mat-option>Option 1</mat-option>
        <mat-option>Option 2</mat-option>
      </mat-select>
    </mat-form-field>
    </td>
  </tr></table>
  <div>
    <button class="btn">Suivant</button>
  </div>
</div>
