<div class="search-controller" fxLayout="row" fxLayoutAlign="none center" fxLayoutGap="5px">
  <div class="search-controller__input" fxFlex="8">
    <input class="search-controller__text-input" placeholder="ID">
  </div>
  <div class="search-controller__input" fxFlex="16">
    <input class="search-controller__text-input" placeholder="Catégorie">
  </div>
  <div class="search-controller__input" fxFlex="16">
    <input class="search-controller__text-input" placeholder="Description de dossier">
  </div>

  <div fxFlex="20" class="search-controller__input" fxLayout="row" fxLayoutAlign="none center">
    <div fxLayout="row" fxLayoutAlign="none center" fxLayoutGap="3px">
      <div>
        <div fxLayout="row" fxLayoutAlign="none center">
          <input class="radio-btn" type="radio" name="status" id="">
          <span class="icon-Icon_ionic-ios-folder-open"></span>
        </div>
        <div fxLayout="row" fxLayoutAlign="none center">
          <input class="radio-btn" type="radio" name="status" id="">
          <span class="icon-ckeck"></span>
        </div>
      </div>
      <span class="separator"></span>
      <div>
        <div fxLayout="row" fxLayoutAlign="none center">
          <input class="radio-btn" type="radio" name="status" id="">
          <span class="icon-pause"></span>
        </div>
        <div fxLayout="row" fxLayoutAlign="none center">
          <input class="radio-btn" type="radio" name="status" id="">
          <span class="icon-block"></span>
        </div>
      </div>
    </div>
    <input class="search-controller__text-input" placeholder="Nbr de dossiers">
  </div>

  <div class="search-controller__input" fxFlex="14">
    <input class="search-controller__text-input" placeholder="Créateur">
  </div>
  <div class="search-controller__input" fxFlex="14">
    <input class="search-controller__text-input" placeholder="Date création">
  </div>
  <div
    class="search-controller__layout-view-toggle"
    fxFlex fxLayout="row" fxLayoutAlign="space-around center">
    <div class="layout-view layout-view__list {{ layoutView === 'grid' ? 'layout-view--disabled' : '' }}"
      (click)="toggleView('list')">
      <mat-icon>list</mat-icon>Liste
    </div>
    <div class="layout-view layout-view__grid {{ layoutView === 'list' ? 'layout-view--disabled' : '' }}"
    (click)="toggleView('grid')">
      <mat-icon>view_comfy_sharp</mat-icon>Grille
    </div>
  </div>
</div>
