<div class="main-menu">
  <div class="main-menu__logo-container">
    <img class="main-menu__logo" src="../../../assets/img/Group 512.svg" alt="e-Services Logo">
  </div>
  <nav class="main-menu__nav">
    <ul class="main-menu__navigation-items">
      <li><div class="icon-container"><span class="icon icon-dashboard"></span></div> Tableau de bord</li>
      <li class="main-menu__active-link"><div class="icon-container icon-active"><span class="icon icon-folders-1"></span></div> Liste des demandes</li>
      <li><div class="icon-container"><span class="icon icon-buildings"></span></div> Etablissement</li>
      <li><div class="icon-container"><span class="icon icon-workflow"></span></div> Gestion Workflows</li>
      <li><div class="icon-container"><span class="icon icon-form"></span></div> Gestion Formulaires</li>
      <li><div class="icon-container"><span class="icon icon-users"></span></div> Gestion d'utilisateurs</li>
      <li><div class="icon-container"><span class="icon icon-Icon_feather-settings"></span></div> Paramètres</li>
      <li><div class="icon-container"><span class="icon icon-Icon_feather-lock"></span></div> Se Déconnecter</li>
    </ul>
  </nav>
</div>
